// Body
$body-bg: #f8fafc;

$primary: #f1f1ea;
$secondary: #231F20;
$dark: #8D8D7B;
$light: #FBB040;
$gold-main: #FBB040;
$gold-secondary: #FBDDB0;
$warning: #ffd99f;
$danger: #a62821;

$theme-colors: (
    "primary": $primary,
    'secondary': $secondary,
    'dark': $dark,
    'light': $light,
    'gold-main': $gold-main,
    'gold-secondary': $gold-secondary,
    'warning': $warning,
    "danger": $danger,
);

$navbar-dark-color: $gold-secondary;
$navbar-dark-hover-color: lighten($gold-secondary, 15%);
$navbar-dark-active-color: $gold-secondary;
$navbar-dark-brand-color: $gold-main;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
