// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

body {
    min-height: 100%;
}

input.form-control {
    background-color: $primary !important;
    color: $gold-secondary !important;
}

.btn-primary {
    color: $gold-secondary !important;
}

.btn-warning {
    color: $dark !important;
}

.btn-danger {
    color: $gold-secondary !important;
}