// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@font-face {
    font-family: 'Broadway';
    src: url('/fonts/BroadwayRegular.ttf');
}

@font-face {
    font-family: 'Corbel';
    src: url('/fonts/Corbel.ttf');
}

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

body {
    min-height: 100%;
    font-family: 'Montserrat';
    font-size: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-link {
    color: $gold-secondary;
    text-decoration: none;
    width: 25%;
    text-align: center;
    font-size: 1.2rem;
}

.footer-link:hover {
    color: lighten($gold-secondary, 15%);
}

.footer-link-outer {
    border-left: solid 1px $gold-secondary;
    border-right: solid 1px $gold-secondary;
}

form label {
    color: $gold-main;
}

.navbar-brand {
    font-family: 'Broadway';
    color: $gold-main !important;
}

h1,
h2,
h3 {
    font-family: 'Broadway';
    color: $gold-main;
}

h2 textarea.form-control,
select.form-control,
input.form-control {
    background-color: $primary !important;
    color: $gold-secondary !important;
}

.btn-primary {
    color: $gold-secondary !important;
}

.btn-warning {
    color: $dark !important;
}

.btn-danger {
    color: $gold-secondary !important;
}

.title {
    margin-top: -10px;
    margin-bottom: -20px;
    font-size: 69px; //nice
}

.subtitle {
    font-size: 45px;
    letter-spacing: 8px;
    position: relative;

}

.ornament-bottom {
    margin-top: -15px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 35px;
        margin-top: -5px;
        margin-bottom: 0px;
        line-height: 35px;
    }

    .subtitle {
        font-size: 20px;
        line-height: 20px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        position: unset;
    }

    .footer-link {
        border: none;
        width: 50%;
    }
}